compileride.zapto.org {
	encode gzip

	log {
		output file /var/log/caddy/access.log {
			roll_size 10mb
			roll_keep 10
			roll_keep_for 720h
		}
	}

	# Обработка ACME-челленджей
	handle_path /.well-known/acme-challenge/* {
		# Позволяет Caddy обрабатывать эти запросы самостоятельно
		# Не проксировать их к oc-manager
		respond 200 "OK"
	}

	# Прокси для всех остальных запросов
	reverse_proxy oc-manager:8080
}
