/* Стилизация узлов */
.jstree-default .jstree-node {
    margin-left: 5px;
}

.jstree-default .jstree-anchor {
    padding: 2px 5px;
    border-radius: 3px;
}

/* При наведении */
.jstree-default .jstree-anchor:hover {
    background-color: #e0e0e0;
}

/* Выбранный узел */
.jstree-default .jstree-clicked {
    background-color: #c0c0c0;
    color: #000;
}

/* Контекстное меню */
.jstree-contextmenu {
    font-size: 14px;
}

#files-container {
    padding-top: 10px; /* Снижаем верхний отступ */
}

.container-fluid {
    margin-left: 300px; /* Добавляем отступ для основного контента */
}

#files-container.closed ~ .container-fluid {
    margin-left: 0;
}

