<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friend Requests</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
<h1>Incoming Friend Requests</h1>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<div th:if="${success}" style="color: green;">
    <p th:text="${success}"></p>
</div>

<ul>
    <th:block th:each="request : ${receivedRequests}">
        <li>
            <img th:src="${request.sender.avatarUrl != null ? request.sender.avatarUrl : '/noAvatar.png'}" alt="Avatar" width="50" height="50">
            <span th:text="${request.sender.username}">Username</span>
            <form th:action="@{/friends/acceptRequest/{requestId}(requestId=${request.id})}" method="post" style="display: inline;">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit">Accept</button>
            </form>
            <form th:action="@{/friends/rejectRequest/{requestId}(requestId=${request.id})}" method="post" style="display: inline;">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit">Reject</button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>
