<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о проекте</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>

    </style>
</head>
<body>
<div class="container">
    <h1 th:text="${project.name}">Название проекта</h1>
    <div class="project-details">
        <p><strong>Описание:</strong> <span th:text="${project.readMe}">ReadMe</span></p>
        <p><strong>Язык:</strong> <span th:text="${project.language}">Язык</span></p>
        <p><strong>GitHub:</strong> <a th:href="${project.refGit}" target="_blank" th:text="${project.refGit}">Ссылка</a></p>
        <p><strong>Тип проекта:</strong> <span th:text="${project.projectType}">Тип</span></p>
    </div>
    <div th:if="${isOwner}">
        <h2>Пригласить друга к проекту</h2>
        <div th:if="${success}">
            <div class="success-message" th:text="${success}"></div>
        </div>
        <div th:if="${error}">
            <div class="error-message" th:text="${error}"></div>
        </div>
        <a th:href="@{/invitations/projects/{projectId}/invite(projectId=${project.id})}" class="btn-invite-page">Пригласить пользователей</a>
    </div>
<!--    <div th:if="${isCollaborator}">-->
<!--        <p>Вы являетесь соавтором этого проекта. Вы можете его редактировать и сохранять.</p>-->
<!--        <a th:href="@{/Compiler/project/{id}(id=${project.id})}">Перейти к проекту</a>-->
<!--    </div>-->
<!--    <div th:if="!${isOwner} && !${isCollaborator}">-->
<!--        <p>Вы не являетесь участником этого проекта.</p>-->
<!--    </div>-->
</div>
</body>
</html>
