<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Users</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
    </style>
</head>
<body>
<h1>Search Users</h1>
<form th:action="@{/friends/search}" method="get">
    <input type="text" name="username" placeholder="Enter username" required>
    <button type="submit">Search</button>
</form>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<div th:if="${success}" style="color: green;">
    <p th:text="${success}"></p>
</div>

<ul>
    <th:block th:each="user : ${users}">
        <li>
            <img th:src="${user.avatarUrl != null ? user.avatarUrl : '/noAvatar.png'}" alt="Avatar" width="50" height="50">
            <span th:text="${user.username}">Username</span>
            <form th:action="@{/friends/sendRequest/{receiverId}(receiverId=${user.id})}" method="post" style="display: inline;">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit">Add Friend</button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>
