const initializeJsTree = () => {
const fileStructureJson = document.querySelector('meta[name="fileStructure"]').getAttribute('content');
const projectName = document.querySelector('meta[name="projectName"]').getAttribute('content'); // Получаем название проекта
let fileTreeData = [];
if (fileStructureJson) {
try {
fileTreeData = JSON.parse(fileStructureJson);
} catch (e) {
console.error("Ошибка при парсинге JSON для fileStructure:", e);
}
}
if (!fileTreeData || fileTreeData.length === 0) {
fileTreeData = [{
id: "root",
text: projectName || "Проект", // Используем название проекта или "Проект" по умолчанию
type: "folder",
children: [],
state: { opened: true }
}];
}
$('#jstree').jstree({
core: {
check_callback: function (operation, node, parent, position, more) {
const tree = $('#jstree').jstree(true);
if (operation === "move_node") {
const movingNode = node;
const targetParentNode = tree.get_node(parent);
if (movingNode.id === "root") {
return false;
}
if (targetParentNode.type !== "folder") {
return false;
}
if (parent === "#") {
return false;
}
if (!isMoveNameUnique(targetParentNode, movingNode)) {
return false;
}
}
return true;
},
data: fileTreeData
},
plugins: ['contextmenu', 'dnd', 'types'],
types: {
folder: { icon: 'jstree-folder' },
file: { icon: 'jstree-file' }
},