<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Activity</title>
</head>
<body>
<h1>История входов</h1>
<table>
    <thead>
    <tr>
        <th>Дата и время входа</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="loginTime : ${loginTimes}">
        <td th:text="${#dates.format(loginTime, 'dd-MM-yyyy HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
